* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*Navigation-bar CSS*/
.navbar {
    display: flex;
    align-items: center;
    padding: 10px;
}

nav {
    flex: 1;
    text-align: right;
}

nav ul {
    display: inine-block;
    list-style-type: none;
    font-family: 'Alegreya Sans SC', sans-serif;
    font-weight: 700;
    font-size: large;
}

nav ul li {
    display: inline-block;
    margin-right: 20px;
    margin-top: 20px;
}

nav2 {
    flex: 1;
    text-align: right;
}

nav2 ul {
    display: inine-block;
    list-style-type: none;
    font-family: 'Alegreya Sans SC', sans-serif;
    font-weight: 700;
}

nav2 ul li {
    display: inline-block;
    margin-right: 20px;
    margin-top: 20px;

}

a {
    text-decoration: none;
    color: #555;
}

a:hover{
    color:whitesmoke;
}

p {
    color: #555;
}

p1 {
    text-align: left;
    font-size: x-large;
    font-weight: 500;
    margin-left: 370px;
}

.container {
    max-width: 1300px;
    margin: auto;
    padding-left: 25px;
    padding-right: 25px;
}

header {
    /*background-color: thistle;*/
    background-color:url(https://i.postimg.cc/PxjgHLzY/n.jpg);
}

/*landing-image & Carousel CSS*/
.image {
    background-size: cover;
    /*background-image: url("images/back3.jpg");*/
    /* background-position: bottom; */
    position: relative;
    width: 100%;
    height: 750px;
    /*-webkit-transform:reflect(180deg);
    -moz-transform:reflect(180deg);
    background-repeat:no-repeat;
    background-position:center;
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);*/
}

.image-text h1 {
     padding-left: 40%;
     padding-top: 5%;
     bottom: 50%;
     font-family: 'Alegreya Sans SC', sans-serif;
     position: absolute;
     font-size: 50px;
     font-weight: 600;
     font-style: bold;
     color: #ffffff;
     text-align: center;
     line-height: 1.8;
     text-decoration: none;
 }

 .card-carousel-container {
    position: absolute;
    width: 900px;
    height: 400px ;
    top: 60% ;
    bottom: 100px;
    left: 20% ;  
 }

.card {
    height: 400px;
 }

 .card img {
     position: relative;
     height: 400px;
 }



 body{
    background-image: url(https://i.postimg.cc/PxjgHLzY/n.jpg);
    background-size: cover;
}
 /*.pop {
     position: absolute;
     padding-left: 600px;
     font-family: 'Alegreya Sans SC', sans-serif;
     font-size: 50px;
     font-weight: 600;
     font-style: bold;
     text-align: center;
     line-height: 1.8;
     text-decoration: none;
     top: 960px;
     color:#4a4a4a;
 }*/


 .product-grid{
    font-family: 'Alegreya Sans SC', sans-serif;
    text-align: center;
    overflow: hidden;
    position: relative;
    border: 6px solid #fff;
    margin-top: 184px;
    height: 450px;
    }
    .product-grid:before{
    content: '';
    height: 100%;
    width: 100%;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 1;
    transition: all 0.3s ease 0s;
    }
    .product-grid:hover:before{ background-color: rgba(0,0,0,0.05); }

    .product-grid .product-image{
    overflow: hidden;
    position: relative;
    }
    .product-grid .product-image a{ display: block; }
    .product-grid .product-image img{
    width: 100%;
    height: 325px;
    }
    .product-discount-label{
    color: #fff;
    background-color: #000;
    font-size: 13px;
    letter-spacing: 1px;
    padding: 8px 12px;
    border-radius: 5px;
    position: absolute;
    left: 15px;
    top: 15px;
    }
    .product-grid .social{
    width: 100%;
    padding: 30px 0;
    margin: 0;
    list-style: none;
    transform: translateX(-50%) translateY(-50%);
    position: absolute;
    left: 50%;
    top: 50%;
    z-index: 2;
    }
    .product-grid .social li{
    display: inline-block;
    opacity: 0;
    transform: translateY(300%);
    transition: all 0.5s ease 0s;
    }
    .product-grid .social li:nth-child(2){ transition-delay: 0.05s; }
    .product-grid .social li:nth-child(3){ transition-delay: 0.13s; }
    .product-grid .social li:nth-child(4){ transition-delay: 0.16s; }
    .product-grid:hover .social li{
    opacity: 1;
    transform: translateY(0);
    }
    .product-grid .social li a{
    color: #000;
    background-color: #fff;
    line-height: 50px;
    height: 50px;
    width: 50px;
    margin: 0 2px 10px;
    border-radius: 50%;
    display: block;
    position: relative;
    z-index: 2;
    transition: all 0.3s;
    }
    .product-grid .social li a:hover{
    color: #fff;
    background-color: orange;
    }
    .product-grid .product-content{
    padding: 18px;
    position: relative;
    z-index: 2;
    background-color: white;
    }
    .product-grid .title{
    font-size: 16px;
    font-weight: 500;
    margin: 0 0 10px 0;
    }
    .product-grid .title a{ color: #000; }
    .product-grid .title a:hover{ color: #fa8231; }
    .product-grid .price{
    color: #fa8231;
    font-size: 18px;
    font-weight: 600;
    }
    .product-grid .price span{
    color: #777;
    margin: 0 0 0 5px;
    font-weight: 300;
    text-decoration: line-through;
    display: inline-block;
    }
    @media only screen and (max-width:990px){
    .product-grid{ margin-bottom: 30px; }
    }
      .pocial
    {
    position:fixed;
    bottom:10px;
    right:10px;
    background:red;
    font-family:'Alegreya Sans SC',sans-serif;
    padding:5px;
    border-radius:5px;
    animation:new .5s linear infinite;
    margin-top:-50px;
    }
    .pocial a
    {
    text-decoration:none;
    color:#fff;
    font-weight:bold;
    }
    @keyframes new
    {
    0%
    {
    transform:scaleX(1);
    }
    50%
    {
    transform:scaleX(.95);
    }
    100%
    {
    transform:scaleX(1);
    }
    }


/*.product-container .star {
    position: relative;
    left: 20px;
    bottom: 20px;
}*/
    

 

/*Footer CSS*/

.footer {
    padding-left: 600px;
    float: left;
    width: 100%;
    position: relative;
    top: 180px;
    padding: 60px 0 5px;
    padding-top: 70px;
    padding-bottom: 20px;
    background: thistle;
    color: black;
}

.footer .row .footer-col-1 h3 {
    padding-left: 180px;
    position: relative;
}

.footer .row .footer-col-1 p {
    position: relative;
    left: 180px;
}

.footer .row .footer-col-6 img {
    position: relative;
    left: 120px;
    bottom: 12px;
}

.footer .row .footer-col-6 p {
    position: relative;
    left: 120px;
    font-size: 15px;
    font-family: 'Montserrat',sans-serif;
}

.footer-col-7 h5 {
    position: relative;
    left: 100px;
}

.footer-col-7 ul {
    position: relative;
    left: 100px;
}

.footer-col-10 h5 {
    position: relative;
    left: 200px;
}

.footer-col-10 ul {
    position: relative;
    left: 200px;
}

.footer-col-12 h5 {
    position: relative;
    left: 300px;
}

.footer-col-12 ul {
    position: relative;
    left: 300px;
}
