* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.navbar {
    display: flex;
    align-items: center;
    padding: 10px;
}

nav {
    flex: 1;
    text-align: right;
}

nav ul {
    display: inine-block;
    list-style-type: none;
    font-family: 'Alegreya Sans SC', sans-serif;
    font-weight: 700;
    font-size: large;
}

nav ul li {
    display: inline-block;
    margin-right: 20px;
    margin-top: 20px;
}

nav2 {
    flex: 1;
    text-align: right;
}

nav2 ul {
    display: inine-block;
    list-style-type: none;
    font-family: 'Alegreya Sans SC', sans-serif;
    font-weight: 700;
}

nav2 ul li {
    display: inline-block;
    margin-right: 20px;
    margin-top: 20px;
}

a {
    text-decoration: none;
    color: #555;
}

a:hover {
    color:whitesmoke;
}

p {
    color: #555;
}

p1 {
    text-align: left;
    font-size: x-large;
    font-weight: 500;
    margin-left: 370px;
}

.container {
    max-width: 1300px;
    margin: auto;
    padding-left: 25px;
    padding-right: 25px;
}

header {
    background-color: thistle;
}

.carousel-container {
    height: 600px;
}

.cat-title {
    padding-top: 70px;
    padding-bottom: 25px;
    text-align: left;
    margin-left: 650px;
    text-underline-position: below;
}

.cat-title h1 {
    font-family: 'Alegreya Sans SC', sans-serif;
    color: #555;
}

.cat-title h1:hover{
    color: thistle;
}

.categories {
    max-width: 1080px;
    margin: auto;
    padding-left: 25px;
    padding-right: 25px;
}

.categories p {
    color: #2e3c4b;
    font-family: 'Barlow', sans-serif;
    font-style: normal;
    font-weight: 100;
    font-size: 18px;
    position: relative;
    top: 10px;
}

.categories h4 {
    color: #4a4a4a;
    font-family: 'Alegreya Sans SC', sans-serif;
    top: 60px;
    font-size: 25px;
}

.col-4 {
    padding-left: 100px;
    float: left;
    min-width: 33.33%;
    padding: 30px;
}

.col-5 {
    padding-left: 100px;
    float: left;
    width: 33.33%;
    padding: 30px;
}

.col-6 {
    padding-left: 100px;
    float: left;
    width: 33.33%;
    padding: 30px;
}

.col-7 img {
    filter: blur(6px);
    -webkit-filter: blur(6px);
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

p2 {
    color:black;
    font-weight: 600;
    font-family: 'Alegreya Sans SC', sans-serif;
    font-style: bold;
}

h1 {
    color: black;
    font-family: 'Alegreya Sans SC', sans-serif;
    font-style: bold;
    font-weight: 500;
}

.centered {
    position: absolute;
    bottom: 200px;
    right: 0px;
    color: grey;
    padding-left: 20px;
    padding-right: 20px;
    font-size: 70px;
}

.col-8 {
    padding-left: 70px;
    float: left;
    width: 25%;
    padding: 70px;
}

/*Footer CSS*/

.footer {
    padding-left: 600px;
    float: left;
    width: 100%;
    padding: 60px 0 5px;
    padding-top: 70px;
    padding-bottom: 20px;
    background: thistle;
    color: black;
}

.footer .row .footer-col-1 h3 {
    padding-left: 180px;
    position: relative;
}

.footer .row .footer-col-1 p {
    position: relative;
    left: 180px;
}

.footer .row .footer-col-6 img {
    position: relative;
    left: 120px;
    bottom: 12px;
}

.footer .row .footer-col-6 p {
    position: relative;
    left: 120px;
    font-size: 15px;
    font-family: 'Montserrat',sans-serif;
}

.footer-col-7 h5 {
    position: relative;
    left: 100px;
}

.footer-col-7 ul {
    position: relative;
    left: 100px;
}

.footer-col-10 h5 {
    position: relative;
    left: 200px;
}

.footer-col-10 ul {
    position: relative;
    left: 200px;
}

.footer-col-12 h5 {
    position: relative;
    left: 300px;
}

.footer-col-12 ul {
    position: relative;
    left: 300px;
}